<div class="widget widget-author">
    <div class="widget-title">
        <h3>Author</h3>
    </div>
    <div class="widget-body">
        <div class="media align-items-center">
            <div class="avatar">
                <img src="/img/me.jpg" class="rounded mx-auto d-block">
            </div>
            <div class="media-body">
                <h6>Hasan Uslu</h6>
            </div>
        </div>
    </div>
</div>
